/* LibraryReviews.css */

.reviews-section {
    width: 80%;
    max-width: 1200px;
    /* Set a maximum width */
    margin: 20px auto;
    /* Center horizontally with auto margins */
    background-color: white;
    /* Ensure background color for visibility */
    padding: 20px;
    /* Add some padding for spacing */
    border-radius: 5px;
    /* Optional: for rounded corners */
}

.review-item {
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(247, 235, 215);
    margin-bottom: 10px;
    text-align: left;
}

.add-review {
    margin-top: 20px;
}

.add-review textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-review button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-review button:hover {
    background: #0056b3;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

/* Mobile View */
@media (max-width: 768px) {
    .reviews-section {
        width: 90%;
        margin: 10px auto;
        /* Center horizontally with auto margins */
    }

    .review-item {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #f9f9f9;
        margin-bottom: 8px;
    }

    .add-review textarea {
        padding: 8px;
    }

    .add-review button {
        padding: 8px 16px;
    }
}

/* Desktop View */
@media (min-width: 768px) {
    .reviews-section {
        width: 80%;
        max-width: 500px;
        /* Set a maximum width */
        margin: 20px auto;
        /* Center horizontally with auto margins */
    }

    .review-item {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #f9f9f9;
        margin-bottom: 10px;
    }

    .add-review textarea {
        padding: 10px;
    }

    .add-review button {
        padding: 10px 20px;
    }
}