/* Signin.css */

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: wheat;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.signin-card {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

form {
  padding: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.signin-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
}

.line {
  height: 2px;
  background-color: rgb(245, 239, 239);
  margin: 15px 0;
}

.persontype-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 8px;
  font-weight: bold;
}

.signin-fields {
  display: flex;
  flex-direction: column;
}

.signin-fields label {
  color: rgb(120, 120, 120);
  margin-top: 15px;
  margin-bottom: 5px;
}

.signin-textbox {
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

.signin-button {
  background-color: rgb(69, 69, 185);
  color: white;
  padding: 15px;
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  background-color: rgb(50, 50, 150);
}

.forget-pass {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: rgb(69, 69, 185);
}

.signup-option {
  background-color: rgba(69, 69, 185, 0.2);
  text-align: center;
  padding: 10px;
}

.signup-question {
  font-weight: bold;
  margin-top: 0;
  color: rgb(69, 69, 185);
  cursor: pointer;
}

.signup-question span {
  color: rgb(69, 69, 185);
}

.signup-question span:hover {
  text-decoration: underline;
}

/* Mobile View */
@media (max-width: 768px) {
  .signin-container {
    padding: 10px;
  }

  .signin-card {
    max-width: 90%;
  }

  .signin-title {
    font-size: 20px;
  }

  .signin-fields label {
    font-size: 14px;
  }

  .signin-textbox {
    padding: 10px;
    font-size: 14px;
  }

  .signin-button {
    padding: 12px;
    font-size: 14px;
  }

  .forget-pass,
  .signup-question {
    font-size: 14px;
  }

  .persontype-question {
    font-size: 14px;
  }
}